{% extends "page.html" %}

{% block subtitle %}{{ _("Welcome") }}{% endblock %}

{% block maintag %}{% endblock %}

{% block content %}
  <div role="main" class="hero">
    
    <div id="content" class="container">
      {{ self.flash() }}
      {{ self.primary_content() }}
    </div>
  </div>
  <div class="main">
    <div class="container">
      {{ self.secondary_content() }}
    </div>
  </div>
{% endblock %}

{% block primary_content %}
  <div class="hero-primary module module-popup">
    <div class="module-content panel">
      {% block home_primary %}
        <header>

          <h2 class="page-heading">Nosotros ponemos los datos, las herramientas ciudadanas las creamos todos.</h2>

        </header>
      {% endblock %}

    </div>
  </div>
  <div class="hero-secondary">
    <div class="hero-secondary-inner">
      {% block home_secondary_content %}

      {% block home_search %}
              <div class="module module-shallow module-narrow module-dark info">
                <form class="dataset-search module-content clearfix" method="get" action="{% url_for controller='package', action='search' %}">
                  <h3 class="heading">{{ _("Buscar tus datos") }}</h3>
                  <div class="contador-datos"><h1>{{ c.package_count }}</h1>Sets de Datos</div>
                  <span class="control-group search-giant">
                    <input type="text" class="search" name="q" value="{{ c.q }}" autocomplete="off" placeholder="{{ _('ej. municipalidades, antenas de telefonía') }}" />
                    <button type="submit" value="{{ _('Search') }}">Submit</button>
                  </span>
                </form>
              </div>
      {% endblock %}

      {% block home_tags %}
          <div class="tags">
            <h3 class="tag">Populares {{ c.facet_titles.name }}</h3>
            {% set tags = h.get_facet_items_dict('tags', limit=3) %}
            {% snippet 'snippets/tag_list.html', tags=tags %}
          </div>
      {% endblock %}

      {% endblock %}
    </div>
  </div>
{% endblock %}

{% block secondary_content %}

<a class="btn btn-primary btn-morado" href="https://www.accesointeligente.org/AccesoInteligente/#home" target="_blank">
  
    Solicitar nuevos datos públicos
  
</a>
{% endblock %}

{# Remove the toolbar. #}
{% block toolbar %}{% endblock %}
