.fci-ampolleta-light {
position: absolute;
top: 5px;
z-index: 10;
right: 0px;
}

/* HOME */

.hero .module-popup {
	margin-top: 0px;
}

.hero-primary, .hero-secondary {
	width: 100%;
	margin-left: 0px;
	margin-bottom: 10px;
}

.hero-secondary {
	position: relative;
}

.hero .module-dark .dataset-search {
	width: 50%;
}

.module-content.panel {
	background: url(../base/images/textura-panel.png);
}

.hero-primary.module.module-popup {
	background-color: transparent;
}
